body {
    background: #42f59b;
    color: #fff;
    font-size: 22px;
    font-family: arial;
}

h1 {
    height: 50px;
    border: 1px solid #fff;
    background-color: #618576;
    text-align: center;
    font-size: 40px;
}

.totalCorrida {
    color: #2a526e;
}